.container{
    text-align: center;
color:white;
background-color: black;
}
.container2{
    color:white;
    background-color: black;
    text-align: center;
    position:relative;
    width: fit-content;
    height: fit-content;
    }
    