
body {
  background-color:black;
  color:white;
}
h1{
  font-size:20px;
}
p{
  font-size:12px;
    color:green;
}
.mydiv{
  color:white;
  border-style:dotted;
  border:2px outset white;
  width:100%;
    height:100%;
}
