.header{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-shadow: 5px 10px #00a2ff;
    background-image: url('ht9f0BlrhIAu-cool-ball-neon-hd-football-wallpapers.jpg');
    background-size: cover;
    color:blanchedalmond;
}
.h2{
    text-shadow: 5px 10px #888888;
}
