.header{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-shadow: 5px 10px #00a2ff;
    background-image: url('ht9f0BlrhIAu-cool-ball-neon-hd-football-wallpapers.jpg');
    background-size: cover;
    color:#888888;

}
.container{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background-image: url('1882559.jpg');
    background-size: repeat;
    color:#888888;
}
a{
    color: black; 
    width: 100px;
    height: 100px;
    font-size: auto;
    transition-property: width, height;
    transition-duration: 2s;
  }
a:hover {
    width: 200px;
    height: 200px;
    font-size: 200px;
    color: red;
    background-color: black;
  }
  