.header{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-shadow: 5px 10px #00a2ff;
    background-image: url('ht9f0BlrhIAu-cool-ball-neon-hd-football-wallpapers.jpg');
    background-size: cover;
    color:#888888;

}
.container{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background-image: url('WallpaperDog-5468007.jpg');
    background-size: cover;
    color:#888888;
}
a:link {
    color: black;
  }
a:hover {
    color: red;
  }
  