.container{
    border-radius: 25px;
    background-color:black;
    color:white
}
.column {
    float: left;
    border-radius: 25px;
    background: black;
color:white;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }