body{
  background-image: url('1660313.jpg');
  height:100%; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  border: 0px solid black;
 z-index:-1;
}
.container{
  border-radius: 25px;
  background-color:black;
  color:white;
  margin-top: 15px;
  border-style: ridge;
  border-width: thick;
  border-color:whitesmoke;
}
.row{
margin: 10px;
}
.card {
  display:inline-block;
  margin-inline-start:0px; 
  margin-inline-end:0px; 
  margin:auto;
writing-mode: horizontal-tb;
  border-radius: 25px;
  Background-color:black;
  color:white;
  box-sizing: content-box;
/*width: 100%;*/
margin:10px;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  }
.container2{
    background-color: black;
    border-radius: 25px;
    border-style: ridge;
    border-width: thick;
    border-color:whitesmoke;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    }


 
  